html{
  overflow-x: hidden;
}
body{
  background-color: #fff;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: white;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #da3a16;
  -border-radius: 50px;
}

header{
  width: 100%;
  display: inline-block;
  padding: 10px 0px;
  height: 100px;
  position: fixed;
  z-index: 1000;
}

header div{
  float: left;
  margin-left: 6%;
}

header a{
  color: white;
  font-weight: 500;
}

a:hover{
  text-decoration: none;
}

header a:hover{
  color: #ff492c !important;
  color: #da3a16 !important;
}

a{
  color: #ff492c;
}

a:hover{
  color: #f5482c;
}

header .links{
  margin-top: 30px;
  width: 90%;
}

.login-link{
  float: right;
  background-color: #ff492c;
  color: #fff;
  margin-top: -5px;
  padding: 7px 20px;
  text-transform: uppercase;
}

.login-link:hover{
  background-color: #f5482c;
  color: #fff !important;
}

.login-form input[type="submit"]:hover{
  background-color: #f5482c;
  cursor: pointer;
}

.header-username{
  float: right;
  padding: 3px 20px;
}

.links ul{
  padding-left: 0;
  padding-top: 10px;
}

.links li{
  margin-left: 0;
  list-style: none;
}

header img{
  height: 80px;
}

header{
  background-color: white;
  box-shadow: 5px 0 10px #00000020;
  color: #333;
  background-color: #fff;
}

header ul{
  background-color: white;
  background-color: #fff;
  box-shadow: 5px 5px 5px #00000010;
  padding: 15px;
  margin-left: -15px;
}

header a{
  color: #2c89a0;
  color: #333;
  margin-right: 20px;
}

.hide-desktop{
  display: none;
}

.main{
  width: 100%;
  max-width: 100%;
  margin: 0;
  height: 500px;
  height: 80vh;
  padding: 0;
  padding: 200px 5% 0 5%;
  padding: 20vh 5% 0 5%;
  text-align: center;
}


.main h1{
  color: white;
  font-weight: 400;
}


.form{
  margin-left: 15%;
  width: 70%;
  text-align: center;
}

.placeholder{
  margin-top: 20px;
}

.placeholder span{
  font-size: 16px !important;
  margin-top: 20px;
  color: #333;
}

input, textarea, select{
  width: 100%;
  -border-radius: 25px;
  -margin-bottom: 5px;
  border: solid 1px #777;
  font-size: 1em;
  padding: 7px 15px 5px 15px;
  outline-color: transparent;
  outline-style: none;
  background-color: transparent;
  color: #333;
}

input:focus, textarea:focus, select:focus{
  border-color: #222;
}

.login-form input[type="submit"]{
  margin-top: 20px;
  width: 35%;
  margin-left: 30%;
  color: white;
  background-color: #ff492c;
  border: none;
}



.menu{
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  -top: 60px;
  top: 0;
  padding-top: 200px;
  padding-top: 35vh;
  right: -100%;
  z-index: 1000;
}


.menu div{
  margin-right: 10%;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.menu div.sub{
  margin-top: 5px;
}

.menu div a{
  margin-left: 10%;
  width: 90%;
  color: #222 !important;
  font-weight: 600;
}
.menu div a:hover{
  color: #ff492c !important;
}

div.langs a{
  margin: 0 2%;
  color: #999 !important;

}

footer span{
  padding: 0 5px;
  font-size: 14px;
  -border-right: solid 1px #b5a55f;
  color: white;
}

footer{
  -display: inline;
  background-color: #f5482c;
  width: 100%;
  text-align: center;
  text-align: center;
  padding: 30px 0;
  text-align: center;
  -margin-top: 1000px;

}

.login-form{
    margin-top: 100px;
    padding: 120px 40% 0 40%;
}

.login-form label{
  font-size: .7em;
  margin-top: 10px;
  margin-bottom: 0;
}

.register-placeholder{
  text-align: center;
  margin-top: 20px;
  font-size: .8em;
}

.item-input{
  margin-left: 25%;
  width: 50%;
}

.index-items{
  margin: 100px 0;
  padding: 0 5%;
  -text-align: center;
}

.box{
  margin: 0 20px 40px 20px;
  width: 200px;
  height: 320px;
  display: inline-grid;
  -float: left;
  background-color: #f5f5f5;
  box-shadow: 0 0 25px #00000030;
  box-shadow: 3px 3px 7px #00000030;
}

.box-img{
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.box-header{
  margin: 20px 0 10px 0;
  padding: 0 5px;
  height: 32px;
}

.box-header h3{
  font-size: 16px;
}

.box-price{
  padding: 0 5px;
}

.box-price h5{
  font-weight: 700;
  color: #ff492c;
}

.box-link{
  text-align: center;
  margin-top: 15px;
  -margin-top: -10px;
}

.box-link a{
  background-color: #ff492c;
  color: #fff;
  padding: 7px 20px;
  text-transform: uppercase;
  -border-radius: 30px;
}


.table-holder{
  padding: 50px;
  background-color: #fff;
  width: 60%;
  margin-left: 15%;
  border: solid 1px #eee;
  margin-bottom: 100px;
}

.t-h-2{
  width: 90%;
  margin-left: 5%;
}

.table-holder tr:hover{
  background-color: #f5f5f5;
}


table{
  border-spacing: 0;
  width: 100%
}

.table-holder th{
  text-align: left;
  padding: 0 0 20px 0;
}


.table-holder td{
  padding: 10px 0;
}


.item-input{
  margin-left: 15%;
  width: 50%;
  padding: 80px 10% 40px 10%;
  background-color: #fff;
  margin-bottom: 100PX;
  border: solid 1px #ccc;
}

.item-input input, .item-input textarea, .item-input select{
  margin-top: 3px;
  margin-bottom: 10px;
  border: solid 1px #aaa;
}

.item-input input[type="submit"]{
  background-color: #da3a16;
  color: #fff;
  border: solid 1px #da3a16;
  margin-left: 25%;
  width: 50%;
}

label{
    font-size: 12px;
    font-weight: 700;
    color: #da3a16;
}


.item-box{
  margin: 0 10% 40px 10%;
  width: 80%;
  height: 400px;
  -float: left;
  -background-color: #f5f5f5;
  box-shadow: 5px 5px 15px #00000020;
}

.item-box-img{
  width: 30%;
  height: 400px;
  background-size: cover;
  background-position: center;
  float: left;
}

.item-box-data{
  width: 60%;
  padding: 0 5px 20px 5%;
  float: left;
}

.item-box-header{
  -margin: 20px 0 10px 0;
  padding: 0 5px;
  -height: 32px;
}

.item-box-header h3{
  font-size: 2em;
}

.item-box-price{
  padding: 0 5px;
}

.item-box-price h5{
  font-weight: 700;
  font-size: 3em;
  color: #ff492c;
  margin-bottom: 0.5em;
}

.item-box-link{
  -margin-top: 15px;
}

.item-box-link a{
  background-color: #ff492c;
  color: #fff;
  font-size: 1.6em;
  padding: 10px 25px;
}

.cart-link{
  background-color: #fff;
  color: #ff492c;
  border: solid 1px #ff492c;
}

.categories{
  text-align: center;
  width: 100%;
  margin-top: 130px;
}

.categories a{
  margin: 0 10px;
  color: #666;
}

.categories a:hover{
  color: #333;
}

.categories a.active{
  color: #ff492c;
}

.cart-items{
  padding: 50px 0;
  width: 50%;
  margin-left: 5%;
  min-height: 400px;
}

.cart-items .box{
  width: 100%;
  display: inline-block;
  height: 200px;
  background-color: #fff;
  box-shadow: 2px 2px 5px #00000020;
}

.cart-items .box-img{
  float: left;
  margin-right: 10%;
}

.cart-items .box-link{
  text-align: left;
}

.price-box{
  position: absolute;
  width: 25%;
  left: 65%;
  top: 235px;
  padding: 30px;
  background-color: white;;
}

.cart-holder{
  width: 90%;
  margin-left: 5%;
  background-color: #f9f9f9;
  border: solid 1px #e4e4e4;
  margin: 150px 5%;
}

.dates span{
  font-size: 0.8em;
}

.dates h5{
  font-size: 1em;
}

.date-items{
  width: 85%
}

.cart-items h3{
  font-size: 1.6em;
}
